@import "_function";
// HEADER
.header{
    @include display-flex;
    justify-content: center;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 100;

    &__wrap{
        background-color: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        @include display-flex;
        align-items: center;
        justify-content: space-around;
        padding: 24px 15px;
        @include boder-radius(50px)
    }
    &__bars{
        font-size: 20px;
        color: #000;
        display: none;
    }
}

.listMenu{
    @include display-flex;
    list-style: none;
    align-items: center;
    margin: 0;

    &__item a{
        margin-left: 15px;
        color: #000;
        text-decoration: none;
        font-size: 15px;
    }
    &__item a:hover{
        color: $color-primary;
    }
}
@media (max-width: 1199.98px) {
    .listMenu {
        display: none;
    }
    .header__bars{
        display: inline-block;
    }
}
    

// END HEADER

// HOME
.home{
    background-image: url(../image/banner-bg.png);
    height: 100vh;
    @include display-flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    &__wrap{
        text-align: center;
        max-width: 550px;
    }
    &__title{
        color: $color-text-home;
        font-size: 38px;
        margin-bottom: 20px;
    }
    &__desc{
        color: $color-text-home ;
        font-size: 16px;    
    }
    &__button--hover:hover{
        text-decoration: none;
        background-color: $color-primary-2;
        transition: 0.3s;
        color: #fff;
    }
}
// END HOME

// featured
.featured{
    margin-top: -210px;
    &__list{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__item{
        background-color: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        text-align: center;
        padding: 50px;
        @include boder-radius(30px);
        margin-bottom: 25px;
    }
    &__item:hover .featured__image{
        background-color: $color-primary;
        transition: 0.3s;
    }
    &__image{
        background-color: $color-primary-2;
        width: 90px;
        height: 90px;
        margin: 0 auto;
        @include boder-radius(50%);
        align-items: center;
        line-height: 90px;
    }
    &__title{
        font-size: 20px;
        font-weight: 500;
        margin-top: 25px;
    }
    &__desc{
        font-size: 13px;
        font-weight: 400;
        margin-top: 20px;
    }
}
// END featured

// discussion

.discussion{
    text-align: center;
    margin-top: 100px;
    &--center{
        display: inline-flex;
        align-items: center;
    }
    &__image{
        width: 100%;
        height: auto;
    }
    &__content{
        text-align: left;
    }
    &__title{
        font-size: 23px;
        font-weight: 450;
        margin-bottom: 30px;
    }
    &__desc{
        font-weight: 400;
        color: #777;
        line-height: 30px;
    }
}

// END discussion

// LINE

.line{

    margin: 100px 0;

    &__center{
        border-top: 1px solid #eee;
    }

}

// END LINE

// WORKPROCESS
.workprocess{
    background-image: url(../image/work-process-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 100px 0;
    margin-top: 100px;

    &__content{
        text-align: center;
    }
    &__title{
        color: #fff;
        font-size: 28px;
        font-weight: 450px;
        margin-bottom: 20px;
    }
    &__desc{
        color: #fff;
        max-width: 550px;
        margin: 0 auto 40px auto;
        font-weight: 400;
        line-height: 33px;
    }

    &__item{
        position: relative;
        background-color: #fff;
        text-align: center;
        padding: 30px;
        font-size: 20px;
        @include boder-radius(30px);
        margin-bottom: 25px;
    }
    &__item::before{
        content: "";
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 100%;
        opacity: 0.15;
        bottom: -10px;
        right: -10px;
        @include boder-radius(30px);
    }
    &__item .item__desc{
        font-weight: 400;
        font-size: 14px;
        max-width: 100px;
        margin: 0 auto;
    }
}
// END WORKPROCESS

// TEMPUS

.tempus{
    margin-top: 100px;
    &__content{
        text-align: center;
    }
    &__title{
        @extend .workprocess__title;
        color: #000;
    }
    &__desc{
        @extend .workprocess__desc;
        color: #777;
        font-weight: 400;
    }
    &__item{
        text-align: center;
        padding: 40px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        @include boder-radius(30px);
        margin-bottom: 25px;

    }
    &__item .item__desc{
        text-align: left;
        margin: 25px 0;
        color: #777;
        font-weight: 400;
        min-width: 300px;
    }
    &__item .item__person{
        display: flex;
        flex-direction: columns;
        align-items: start;


    }
    &__item .item__person img{
        @include boder-radius(50%);
    }
    &__item .item__person .person__info{
        text-align: left;
        margin-left: 20px;
    }
    &__item .item__person .position{
        color: $color-primary;
    }
}

// END TEMPUS


// PRICING
.pricing{
    background-color: $color-pricing;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
    &__title{
        @extend .workprocess__title;
        color: #000;
    }
    &__desc{
        @extend .workprocess__desc;
        color: #777;
    }
    &__item{
        background-color: #fff;
        padding: 30px 0;
        @include boder-radius(30px);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-bottom: 25px;
    }
    &__item .item__title{
        font-size: 18px;
        font-weight: 400;
    }
    &__sale .sale{
        font-size: 25px;
        color: #fff;
        font-weight: 600;
        background-color: $color-primary-2;
        max-width: 280px;
        padding: 18px 0;
        margin: 15px auto;
        @include boder-radius(30px);
        text-align: center;
        &--active{
            background-color: $color-primary;
        }
    }
    &__sale .sale p{
        font-size: 13px;
        font-weight: 400;
    }

    .list__gb{
        list-style: none;
        font-size: 13px;
        line-height: 30px;
        color: #777;

        .item__gb{
            &--active{
                text-decoration: line-through;
            }
        }
    }

    .button--pricing{
        background-color: $color-primary-2;
        &:hover{
            background-color: $color-primary;
            text-decoration: none;
            color: #fff;
            transition: 0.3s;
        }
    }
}

// END PRICING

// INFO

.info{
    background-image: url(../image/fun-facts-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 10px;
    text-align: center;
    &__item{
        position: relative;
        color:#fff;
        margin-bottom: 25px;
        .info__number{
            font-size: 35px;
            font-weight: 700;
            margin-bottom: 13px;
        }
        &::before{
            content: "";
            background-image: url(../image/circle-dec.png);
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            right: -200px;
            bottom: -45px;
        }
    }
}
@media (max-width: 1199.98px) {
    .info__item::before{
        display: none;
    }
    }
    

// END INFO

// BLOG
.blog{
    text-align: center;
    padding: 100px 0px;
    &__item{
        margin-bottom: 25px;
        .item__image{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    &__title{
        @extend .workprocess__title;
        color: #000;
    }
    &__desc{
        @extend .workprocess__desc;
        color: #777;
    }
    .item__title{
        font-size: 17px;
        font-weight: 550;
        margin: 20px 0;
    }
    .item__desc{
        color: #777;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }
    &__button{
        background-color: $color-primary-2;
        &:hover{
            background-color: $color-primary;
            transition: 0.3s;
            text-decoration: none;
            cursor: pointer;
            color: #fff;
        }
    }

}
// END BLOG

// CONTACT
.contact{
    background-color: $color-pricing;
    text-align: center;
    margin-top: 50px;
    padding: 100px 0;
    &__title{
        @extend .workprocess__title;
        color: #000;
    }
    &__desc{
        @extend .workprocess__desc;
        color: #777;
    }
    &__content{
        @extend .discussion__content;
        .content__title{
            @extend .discussion__title;
        }
        .content__desc{
            @extend .discussion__desc;
        }
    }
    &__input{
        text-align: left;
        .input__name, .input__email{
            margin-bottom: 25px;
        }
        .input__name input{
            width: 100%;
            padding: 13px 20px;
            border: 0;
            @include boder-radius(50px);
            font-size: 14px;
        }
        .input__email input{
            width: 100%;
            padding: 13px 20px;
            border: 0;
            @include boder-radius(50px);
            font-size: 14px;
        }
        .input__message textarea{
            width: 100%;
            border: 0;
            resize: none;
            @include boder-radius(25px);
            padding: 15px 20px 90px 20px;
            margin-top: 10px;
            font-size: 15px;
        }
    }
    &__button:hover{
        background-color: $color-primary-2;
        text-decoration: none;
        transition: 0.3s;
        color: #fff;
    }
}
// END CONTACT

// FOOTER
.footer{
    background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);;
    padding: 40px;
    text-align: center;
    &__social{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .social__item{
            background-color: #fff;
            color: $color-primary-2;
            border-radius: 50%;
            margin-left: 10px;
            height: 35px;
            width: 35px;
            text-align: center;
            line-height: 35px;
        }
    }
    &__line{
        border-top: #777 1px solid;
        margin: 20px 0 30px 0;
    }
    &__title{
        font-size: 13px;
        color: #fff;
        font-weight: 400;
    }
}
// END FOOTER
